{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="png" href="{% static '/images/icon/favicon.png' %}">
	<title>Computer Science Courses on LearnEd</title>
	<link rel="stylesheet" type="text/css" href="{% static '/subjects/subjects.css' %}">
	<script type="text/javascript" src="{% static '/script.js' %}"></script>
</head>
<body>

<!-- NAVIGATION -->
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="{% url 'home_page' %}"><img src="{% static '/images/icon/logo.png' %}" style="width: 120px;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="{% static '/images/icon/menu.png' %}"></div>
			<ul id="list-switch">
				{% for category in categories %}
					<li><a href="{% url 'course_page' slug=category.slug %}"><img src="" class="icon">{{ category.title }}</a></li>
				{% endfor %}
			</ul>
			<div class="search" id="search-switch">
				<input type="search" placeholder="Search" class="srch"><button id="srchbtn"><img src="{% static '/images/icon/search.png' %}"></button>
			</div>
		</div>
	</header>

<!-- MAIN Heading of Page -->
	<div class="title">
		<span>{{ category.title }} on LearnEd</span>
		<div class="shortdesc">
			<p>{{ category.description }}</p>
		</div>
	</div>


<!-- Some KeyWords related to Topic -->
	<div class="course">
			<div class="cbox">
				<div class="det"><a href="#">Java</a></div>
		</div>
	</div>


<!-- Courses Available -->
	<div class="inbt">
		Accelerate your career with Computer Science programs
	</div>

	<div class="ccard">
	<center>
		<div class="ccardbox">
			{% for subject in subjects %}
				<div class="dcard">
				<a href="{% url 'view_page' pk=subject.pk %}"><div class="fpart"><img src="{{ subject.image.url }}"></div></a>
				<a href="#"><div class="spart"></div>{{ subject.title }}</a>
			</div>
			{% endfor %}
		</div>
	</center>
	</div>


<!-- PROJECTS -->
	<div class="title2" id="projects">
		<span>Browse Projects</span>
		<div class="shortdesc2">
			<p>Here you can find various Projects related to Web Deveopment, AI, Java Projects, etc</p>
		</div>
	</div>
	<div class="project-panel">
		<div class="project-card">
			<img src="{% static '/images/projects/p1.jpg' %}">
			<div class="info">
				<h4>Digi Library</h4><p>Interactive Library Management Software made using JAVA & MySQL</p>
				<div class="download"><a href="https://github.com/roshan9419" target="_blank">Download</a></div>	
			</div>
		</div>
		<div class="project-card">
			<img src="{% static '/images/projects/p2.jpg' %}">
			<div class="info">
				<h4>LearnEd</h4><p>It is an Educational Website made using HTML, CSS & JavaScript</p>
				<div class="download"><a href="https://github.com/roshan9419" target="_blank">Download</a></div>
			</div>
		</div>
		<div class="project-card">
			<img src="{% static '/images/projects/p3.jpg' %}">
			<div class="info">
				<h4>Photo Gallery</h4><p>This Website helps you to manage your Personal Photos developed using HTML, CSS & JavaScript</p>
				<div class="download"><a href="https://github.com/roshan9419" target="_blank">Download</a></div>
			</div>
		</div>
		<div class="project-card">
			<img src="{% static '/images/projects/p4.jpg' %}">
			<div class="info">
				<h4>Sports Fitness</h4><p>This Website helps you in your favorite Sports made using HTML, CSS & JavaScript</p>
				<div class="download"><a href="https://github.com/roshan9419" target="_blank">Download</a></div>
			</div>
		</div>
		<div class="project-card">
			<img src="{% static '/images/projects/p5.jpg' %}">
			<div class="info">
				<h4>Smart TMS</h4><p>This Software helps you to managen the records of Challans used in Traffic Management System made using C++</p>
				<div class="download"><a href="https://github.com/roshan9419/smart_traffic" target="_blank">Download</a></div>
			</div>
		</div>

	</div>

<br><br><br><br><br>


<!-- FOOTER -->
<footer>
	<div class="footer-container">
		<div class="left-col">
			<img src="{% static '/images/icon/logo - Copy.png' %}" style="width: 200px;">
			<div class="logo"></div>
			<div class="social-media">
				<a href="#"><img src="{% static '/images/icon\fb.png' %}"></a>
				<a href="#"><img src="{% static '/images/icon\insta.png' %}"></a>
				<a href="#"><img src="{% static '/images/icon\tt.png' %}"></a>
				<a href="#"><img src="{% static '/images/icon\ytube.png' %}"></a>
				<a href="#"><img src="{% static '/images/icon\linkedin.png' %}"></a>
			</div><br><br>
			<p class="rights-text">Copyright © 2021 Created By Roshan Kumar, Abhishek Dulat All Rights Reserved.</p>
			<br><p><img src="{% static '/images/icon/location.png' %}"> Lovely Professional University<br>Phagwara, Punjab-144401</p><br>
			<p><img src="{% static '/images/icon/phone.png' %}"> +91-1234-567-890<br><img src="{% static '/images/icon/mail.png' %}">&nbsp; learnedonline9419@gmail.com</p>
		</div>
		<div class="right-col">
			<h1 style="color: #fff">Our Newsletter</h1>
			<div class="border"></div><br>
			<p>Enter Your Email to get our News and updates.</p>
			<form class="newsletter-form">
				<input class="txtb" type="email" placeholder="Enter Your Email">
				<input class="btn" type="submit" value="Submit">
			</form>
		</div>
	</div>
</footer>

</body>
</html>